@model FactOrFictionCommon.Models.TextBlobModel
@{
    ViewBag.Title = "Separating Fact from Fiction";
}
<h2>Separating Fact from Fiction</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="container">
        <hr />
        <div class="form-group col-md-6">
            <label class="control-label" for="TextBlob">Enter some text!</label>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.TextAreaFor(model => model.Text, 10, 10, new { htmlAttributes = new { @class = "form-control" } } )
            <div style="padding-top:10px">
                <input type="submit" id="CreateBtn" class="btn btn-default" />
            </div>
        </div>
        <vr />
        @if (Model.Statements.Count != 0) {
            <div class="form-group col-md-6">
                <label class="control-label" for="table">Here are your statements:</label>
                @Html.Partial("../Statement/ListDetails", Model.Statements)
                <label class="control-label" for="table">Here are extracted entities:</label>
                @Html.Partial("../Entity/ListDetails", Model.Entities)
            </div>
        }
    </div>
}
<p>
    @Html.ActionLink("Go to My Narratives", "Index", "TextBlob")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

