@model FactOrFictionWeb.Models.TextBlobModel
@{
    ViewBag.Title = "Separating Fact from Fiction";
}
<h2>Separating Fact from Fiction</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="container">
        <hr />
        <div class="form-group col-md-6">
            <label class="control-label" for="TextBlob">Enter some text!</label>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.TextAreaFor(model => model.Text, 10, 10, new { htmlAttributes = new { @class = "form-control" } } )
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
        <vr />
        <div class="form-group col-md-6">
            @Html.Partial("Details", Model)
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

