@model IEnumerable<FactOrFictionWeb.Models.TextBlobModel>

@{
    ViewBag.Title = "Index";
}

<h2>Submitted Narratives</h2>

<p>
    @Html.ActionLink("Create New", "Create", "TextBlob")
</p>
<table class="table">
    <tr>
        <th>
            Narrative
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "TextBlob", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "TextBlob", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
