@model IEnumerable<FactOrFictionCommon.Models.TextBlobModel>

@{
    ViewBag.Title = "Index";
}
<div style="padding-top:15px">
    <p><a href="/TextBlob/Create" class="btn btn-default btn-lg">Create New</a></p>
</div>

                      @*<p>
                          @Html.ActionLink("Create New", "Create", "TextBlob")
                      </p>*@

<h2>Submitted Narratives</h2>

<table class="table">
    <tr>
        <th>
            Narrative
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "TextBlob", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "TextBlob", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
