@model IEnumerable<FactOrFictionWeb.Models.Reference>

@{
    ViewBag.Title = "Details";
}

<h2>Supporting Evidence</h2>

<div>
    <dl class="dl-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@item.Link">@item.Link</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tags)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                </tr>
            }
        </table>
    </dl>
</div>
